.alineacion-derecha {
    text-align: right;
}
.alineacion-centro {
    text-align: center;
}
.alineacion-izquierda {
    text-align: left;
}
.alineacion-justificada {
    text-align: justify;
}
.texto-indentado {
    text-align: justify;
    text-indent: 2em;
}
.texto-enfatizado {
    font-size: 3em;
}
p {
    font-size: 1.5em;
}
blockquote {
    font-style: italic;
    color: darkgreen;
    font-size: 2em;
    text-align: right;
}