.pos-static-1 {
    font-family: Arial, Helvetica, sans-serif;
    width: 250px;
    height: 210px;
    margin-top: 5px;
    position: static;
    background-color: rgb(248, 200, 95);
    color: black;
    left: 60%;
    top: 50%;
    text-align: center;
    font-size: 25px;
}

.pos-relative-1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 220px;
    height: 230px;
    margin-top: 5px;
    background-color: rgb(27, 201, 50);
    color: white;
    position: relative;
    left: 80%;
    top: 70%;
    text-align: center;
    font-size: 25px;
}
.pos-absolute-1, .pos-absolute-2, .pos-absolute-3 {
    width: 250px;
    height: 150px;
    margin-top: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(190, 68, 68);
    color: black;
    position: absolute;
    text-align: center;
    font-size: 25px;
}
.pos-absolute-1 {
    left: 30%;
}
.pos-absolute-2 {
    left: 50%;
}
.pos-absolute-3 {
    left: 70%;
}
.pos-fixed-1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 400px;
    height: 270px;
    margin-top: 5px;
    background-color: rgb(30, 102, 170);
    color: white;
    position: fixed;
    text-align: center;
    font-size: 1.5em;
    bottom: 40px;
    right: 40px;
    border-radius: 8px;
    vertical-align: middle;
}
label {
    margin-top: 20px;
    position: absolute;
    margin-left: 10px;
}
h1 {
    text-align: center;
    font-size: 3em;
    font-family: 'Times New Roman', Times, serif;
}