h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}
h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 45px;
    font-style: oblique;
}
.letter-size {
    font-size: 18px;
}
h3 {
    font-family: 'Satisfy', cursive;
    font-size: 30px;
}
p.font-20 {
    font-size: 30px;
    color:rgb(241, 220, 176)
}
h5 {
    font-size: 30px;
    color: rgb(62, 81, 151)
}
h6 {
    font-size: 32px;
    color: #32cd32
}
p.font-normal {
    letter-spacing: .3em;
    font-size: 31px;
    color: #046304
}
p.espaciadowordancho {
    word-spacing: 1.5em;
    font-size: 31px;
    color: rgb(252, 6, 231)
}
p.espaciadolineaancho {
    line-height: 3em;
    font-size: 31px;
    color: rgb(121, 121, 22);
}
h7 {
    font-size: 30px;
    font-weight: 900;
}
span.lista-cuerpo {
    font-size: 20px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
.big-font {
    font-size: 30px;
}
.fuente-negrita {
    font-weight: 700;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}